* {
    -webkit-animation: alternate;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maincolor: #000000;
    --subcolor: #e60808;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    width: 80%;
    margin: auto;
}

.unstyled-list {
    list-style: none;
}

header{
    height: 100vh;
    background: linear-gradient(to right, #fff 60%, var(--subcolor) 30%);
}
.header {
    display: flex;
}
.header .logo {
    flex: 1;
}
.header .logo img {
    width: 25%;
    margin-top: -10px;
    margin-left: -10px;
}
.header .navbar{
    flex: 1;
    
}
.header .navbar li{
    display: inline-block;
    margin: 25px 15px;
}
.header .navbar li a{
    padding: 2px 7px;
    color: #000000;
}
.header .navbar li a.active{
    color: #fff;
    background: #e60808;
    border-radius: 20%;
}
.header .navbar li a:hover{
    color: #fff;
    background: #2f00ff;
    border-radius: 20%;
}

.header-content {
    
}
.header-content .banner {
    position: relative;
    margin-top: 50px;
}
.header-content .banner img{
    width: 35%;
    left: 50%;
    top: 70px;
    position: absolute;
}
.header-content .banner .banner-desc {
    position: absolute;
    top: 90px;
}
.header-content .banner .banner-desc h2{
    display: block;
    text-transform: uppercase;
    color: var(--subcolor);
    font-weight: 900;
    background: #000000;
    font-size: 40px;
    letter-spacing: 15px;
       /*  Animation decalaration   */  
    animation-name: moveInleft;
    animation-duration: 3s;
}
.header-content .banner .banner-desc h3 span {
    color: #e60808;
}
.header-content .banner .banner-desc h3{
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--maincolor);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 12px;
       /*  Animation decalaration   */  
    animation-name: moveInbuttom;
    animation-duration: 5s;
    animation-delay: 3s;
}

/* about section */
.about{
    padding: 20vh 0;
    background-color: rgb(247, 247, 247);
    height: 80vh;
}
.about-content{
    display: flex;
}
.about-img {
    flex: 1;
}
.about-img img{
    width: 90%;
    border-radius: 20px;
}
.about-info {
    flex: 1;
    position: relative;
}
.about-info .about-title {
    text-transform: capitalize;
    font-weight: 800;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 36px;
}
.about-info .about-desc {
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.about-info span{
    display: block;
    letter-spacing: 2px;
}
.about-info .btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 130px;
    height: 35px;
    background-color: var(--subcolor);
    color: #fff;
    border: 0;
    border-radius: 50px;
    transform: color 0.2s;
}
.about-info .btn:hover{
    background: #ca2929;
}

/* start menu */
.menu {
    padding: 80px 0;
    background: linear-gradient(to bottom, rgb(221, 221, 221) 60%, var(--subcolor) 30%);
}
.menu-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 36px;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    justify-content: center;
    grid-gap: 0px;
}
.menu-item {
    width: 80%;
    height: 400px;
    background: #fff;
    text-align: center;
    border-radius: 50px;
    -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px;
    
}
.menu-item img{
    width: 80%;
    height: 70%;
    margin: 30px auto 15px auto;
    display: inline-block;

}
.menu-item img.heit{
    width: 40%;
}
.menu-item h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 28px;
}
.menu-item i{
    margin-bottom: 10px;
}




/* keyframes */

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translate(30px,-30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInbuttom {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

